<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

<head>
<title>Dates Selection</title>
</head>

<div layout:fragment="page_content" id="page_content" class="container h-100 bg-white overflow-hidden">

	<!-- FORM DE BÚSQUEDA -->
	
		<form class="row pt-5" th:action="@{/reservation/dateselection}" th:object="${session.reservation}" method="post">
			<div class="col-12 col-lg pb-3 pb-lg-0 overflow-hidden">
				<div class="form-group">
					<label for="officeCode">Pickup office:</label> <select id="officeCode" name="officeCode" class="form-control" required>
						<option value="">Select...</option>
						<option th:each="office:${offices}" th:value="${office.officeCode}" th:text="${office.officeName}" th:selected="${office.officeCode == session.reservation.officeCode}"></option>
					</select>
				</div>
			</div>

			<div class="col-12 col-lg pb-3 pb-lg-0 overflow-hidden">
				<div class="form-group">
					<label for="officeSelection">Delivery office:</label> <select id="officeSelection" name="officeReturnCode" class="form-control" required>
						<option value="">Select...</option>
						<option th:each="office:${offices}" th:value="${office.officeCode}" th:text="${office.officeName}" th:selected="${office.officeCode == session.reservation.officeCode}"></option>
					</select>
				</div>
			</div>
			<div class="col-12 col-lg pb-3 pb-lg-0 overflow-hidden">
				<div class="form-group">
					<label for="initDate">Pickup date:</label>
					<input class="form-control w-100" type="date" name="initDate" id="initDate" step="1" min="2022-12-17" max="2023-12-17" value="2022-12-17" required>
				</div>
			</div>
			<div class="col-12 col-lg pb-3 pb-lg-0 overflow-hidden">

				<div class="form-group">
					<label for="finalDate">Delivery date:</label>
					<input class="form-control w-100" type="date" name="finalDate" id="finalDate" step="1" min="2022-12-17" max="2023-12-17" value="2022-12-17" required>
					<!-- 				<input type="text" required> -->
					<div th:if="${session.errorDates != null}">
						<small class="form-text text-muted" th:text="${session.errorDates}"></small>
					</div>
				</div>
			</div>
			<div class="col-12 col-lg pb-3 pb-lg-0 overflow-hidden">

				<div class="form-group">
					<label class="d-none d-lg-block">&nbsp</label>
					<button type="submit" class="btn float-right w-100">Submit</button>
				</div>
			</div>
		</form>
	
	
	
	
	
	

	<!-- TO-CHECK DATOS TABLA COCHE ESCOGIDO EN LA TAB FLEET-->


	<div class="col-12">

		<table class="table table-striped table-hover mt-5 mb-5">

			<tbody>
				<tr class="row mb-3">
					<td class="col-12 col-md-6">
						<div class="h-100 d-flex align-items-center flex-column p-3">
							<img style="max-width: 320px;" class="my-auto" th:src="@{${session.car.photo}}" />
						</div>
					</td>
					<td class="col-12 col-md-4">
						<div class="p-3">
							<h2 th:text="${session.car.marca}"></h2>
							<strong class="pb-3 d-block" th:text="${session.car.model}"></strong>
							<ul class="list-group list-group-flush">
								<li class="list-group-item bg-transparent text-dark">Transmission: <span th:text="${session.car.transmission}"></span></li>
								<li class="list-group-item bg-transparent text-dark">AC: <span th:if="${session.car.ac} == true" th:text="Yes"></span> <span th:if="${session.car.ac} != true" th:text="No"></span>
								</li>
								<li class="list-group-item bg-transparent text-dark">Seats: <span th:text="${session.car.seats}"></span></li>
								<li class="list-group-item bg-transparent text-dark">Doors: <span th:text="${session.car.doors}"></span></li>
								<li class="list-group-item bg-transparent text-dark">Suitcases: <span th:text="${session.car.suitCases}"></span></li>
							</ul>
						</div>

					</td>
					<td class="col-12 col-md-2">
						<div class="h-100 d-flex align-items-end flex-column p-3">
							<div class="h-100 d-flex align-items-center">
								<Strong th:inline="text"> $[[${session.car.category.priceBase}]] <small class="float-right pr-2">&nbsp per day</small></strong>
							</div>
							<!-- 								<a th:href="@{selectCar(id=${car.idCar})}" class="btn btn-sm font-weight-bold mt-auto">Choose</a> -->
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<th:block layout:fragment="scripts">
	<script type="text/javascript">
		console.log('Hello World');
	</script>
</th:block>