<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

<head>
<title>Inventory</title>
</head>

<div layout:fragment="page_content" id="page_content" class="container h-100 bg-white overflow-hidden">

	<!-- FILTER FORM -->

	<div id="carFilterForm">
		<form th:action="@{/fleet/filter}" method="post">
			<div class="form-group form-row mt-5 mb-5">
				<div class="col-12 col-md-3">
					<select name="categorySelection" class="form-control" id="categorySelection">
						<option value="">CATEGORY</option>
						<option value="CAT_SUP" th:selected="${session.category == 'CAT_SUP'}">PLUS</option>
						<option value="CAT_MED" th:selected="${session.category == 'CAT_MED'}">STANDARD</option>
						<option value="CAT_ECO" th:selected="${session.category == 'CAT_ECO'}">ECONOMIC</option>
					</select>
				</div>
				<div class="col-12 col-md-3">
					<select name="transmissionSelection" class="form-control" id="transmissionSelection">
						<option value="">TRANSMISSION</option>
						<option value="AUTOMATIC" th:selected="${session.transmission == 'AUTOMATIC'}">AUTOMATIC</option>
						<option value="MANUAL" th:selected="${session.transmission == 'MANUAL'}">MANUAL</option>
					</select>
				</div>
				<div class="col-12 col-md-3">
					<select name="priceOrderSelection" class="form-control" id="priceOrderSelection">
						<option value="">PRICE ORDER</option>
						<option value="ASCENDANT" th:selected="${session.priceOrder == 'ASCENDANT'}">ASCENDANT</option>
						<option value="DESCENDANT" th:selected="${session.priceOrder == 'DESCENDANT'}">DESCENDANT</option>
					</select>
				</div>
				<div class="col-12 col-md-3 text-center">
					<button type="submit" class="btn w-100">Filter</button>
				</div>

			</div>
		</form>
	</div>


	<!-- CAR LIST. SAME TABLE AS VEHICLE SELECTION PAGE -->

	<div class="col-12">

		<table class="table table-striped table-borderless mt-5 mb-5">

			<tbody>
				<tr class="row mb-3" th:each="car:${session.fleet}">
					<td class="col-12 col-md-6">
						<div class="h-100 d-flex align-items-center flex-column p-3">
							<img style="max-width: 320px;" class="my-auto" th:src="@{${car.photo}}" />
						</div>
					</td>
					<td class="col-12 col-md-4">
						<div class="p-3">
							<h2 th:text="${car.marca}"></h2>
							<strong class="pb-3 d-block" th:text="${car.model}"></strong>
							<ul class="list-group list-group-flush">
								<li class="list-group-item bg-transparent text-dark">Transmission: <span th:text="${car.transmission}"></span></li>
								<li class="list-group-item bg-transparent text-dark">AC: <span th:if="${car.ac} == true" th:text=" Yes"></span> <span th:if="${car.ac} != true" th:text=" No"></span>
								</li>
								<li class="list-group-item bg-transparent text-dark">Seats: <span th:text="${car.seats}"></span></li>
								<li class="list-group-item bg-transparent text-dark">Doors: <span th:text="${car.doors}"></span></li>
								<li class="list-group-item bg-transparent text-dark">Suitcases: <span th:text="${car.suitCases}"></span></li>
							</ul>
						</div>

					</td>
					<td class="col-12 col-md-2">
						<div class="h-100 d-flex align-items-end flex-column p-3">
							<div class="h-100 d-flex align-items-center">
								<Strong th:inline="text"> [[${car.category.priceBase}]]&usd; <small class="float-right pr-2">&nbsp per day</small></strong>
							</div>
							<a th:href="@{selectCar(id=${car.idCar})}" class="btn btn-sm mt-auto w-100">Choose</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>


<th:block layout:fragment="scripts">
	<script type="text/javascript">
		console.log('Hello World');
	</script>
</th:block>