<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base}">

<head>
<title>Success</title>
</head>

<div layout:fragment="page_content" id="page_content" class="container h-100 bg-white overflow-hidden">

	<div class="row align-items-center">
		<div class="col-12 col-md-9 col-lg-7 mx-auto">
			<div class="card my-5">

				<ul class="list-group list-group-flush">

					<li class="list-group-item">

						<div class="row align-items-center">
							<div class="col-8">
								<img class="" th:src="@{${session.car.photo}}" alt="Card image cap">
							</div>

							<div class="col-4 text-center">
								<i class="fas fa-check-circle spring-green-ligth" style="font-size: 100px;"></i>
							</div>
						</div>



					</li>

					<li class="list-group-item bg-light spring-green-ligth">

						<div class="card-title text-center h1">
							<span>Congratulations <span th:text="${session.client.name}"></span>!
							</span>
						</div>

					</li>

					<li class="list-group-item">
						<h5 class="card-title">
							We have correctly received your booking.<br> These are your booking details:
						</h5>

						<div class="card-text">
							We will be waiting for you at our RentCar office: <span class="text-muted" th:text="${session.officeName}"></span>
						</div>
						<div class="card-text">
							Booking date: <span class="text-muted" th:text="${#dates.format(session.reservation.initDate, 'dd-MM-yyyy')}"></span>
						</div>
						<div class="card-text">
							Booking number: <span class="text-muted" th:text="${session.reservation.idReservation}"></span>
						</div>

					</li>
				</ul>
			</div>
		</div>
	</div>


</div>

<th:block layout:fragment="scripts">
	<script type="text/javascript">
		console.log('Hello World');
	</script>
</th:block>